$primary-color: rgba(34, 130, 177, 1);
$primary-color-accent: rgba(27, 109, 149, 1);
$secondary-color: rgba(42, 187, 187, 1);
$secondary-color-accent: rgba(25, 154, 154, 1);
$white: #ffffff;
$white-accent: rgb(242, 242, 242);
$gray: rgb(236, 236, 236);
$footer-blue: rgb(6, 59, 85);
$website-desc-black: rgb(22, 22, 22);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
}

.hero-header {
  width: 90%;
  height: 5%;
  display: grid;
  grid-template-columns: 10% 32% 50% 8%;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 6;
  background-color: rgba($color: $white, $alpha: 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .logo {
    font-size: 1.2em;
    padding-left: 1em;
  }

  .navi {
    grid-column: 3 / span 1;
    justify-self: flex-end;

    ul {
      display: flex;
      list-style: none;

      li {
        margin: 0 0.5em;
        height: 30px;

        a {
          text-decoration: none;
          font-size: 14px;
          padding-bottom: 5px;
          position: relative;
          color: rgb(39, 39, 39);
          // background-color: gold;
        }

        a::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 0;
          background-color: $primary-color-accent;
          transition: 180ms ease-in-out;
        }

        a:hover::before,
        a:focus::before {
          width: 100%;
        }
      }
    }
  }

  .toggle-menu-container {
    width: 30px;
    height: 32px;
    justify-self: center;
    position: relative;
    grid-column: 4 / span 1;
    display: none;

    cursor: pointer;

    .menu-toggle.active {
      transform-origin: center;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 40px;
    }

    .menu-toggle-top.active {
      transform-origin: left;
      transform: rotate(45deg);
      width: 18px;
    }

    .menu-toggle-bottom.active {
      transform-origin: right;
      transform: rotate(45deg);
      width: 17px;
    }

    .menu-toggle,
    .menu-toggle-top,
    .menu-toggle-bottom {
      height: 3px;
      background-color: rgba($color: #000000, $alpha: 0.8);

      position: absolute;
      transition: transform 150ms ease-in-out, width 100ms ease-in 120ms;
    }
    .menu-toggle {
      width: 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center;
    }

    .menu-toggle-top {
      top: 0;
      left: 0;
      width: 10px;
    }

    .menu-toggle-bottom {
      bottom: 0;
      right: 0;
      width: 5px;
    }
  }
}

.hero-content {
  z-index: 1;
}

.hero-action {
  width: 400px;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  z-index: 1;

  .action-projects {
    display: block;
    margin-left: 1em;
    transition: ease-in 100ms;
    position: relative;
    cursor: pointer;
  }

  .action-projects::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 0;
    background-color: $secondary-color;
    transform-origin: center;
    transition: width 200ms ease-in;
  }
  .action-projects:hover::before {
    width: 100%;
  }

  .action-hire {
    width: 175px;
    height: 40px;
    text-align: center;
    background-color: rgba($color: $primary-color, $alpha: 0.7);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 15px solid $white;
    color: rgba($color: rgb(0, 47, 70), $alpha: 1);
    position: relative;
    transition: ease-out 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
  }

  .action-hire::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px $primary-color solid;
    width: calc(350px / 2 + 2px);
    height: 42px;
    transition: ease-out 200ms;
    z-index: -1;
  }

  .action-hire:hover {
    color: $white;
    background-color: rgba($color: $primary-color, $alpha: 1);
  }

  .action-hire:hover::before {
    left: -17px;
    top: -2px;
  }
}

.action-box a {
  text-decoration: none;
  color: #000000;
}

.action-down {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -5%);
  width: 100px;
  height: 100px;
  background-color: rgb(225, 128, 27);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  z-index: 1;
  span {
    font-size: 16px;
    color: #3f3e3e;
  }
}

.hero-intro {
  font-size: 18px;
  margin-bottom: 2em;
  display: block;
}

.hero-title {
  font-size: 2.5em;
}

#heroTitleD {
  color: $primary-color-accent;
}

#heroTitleD span {
  font-size: 1em;
  opacity: 0;
  transform: rotateY(120deg);
  transition: 150ms ease-in;
  display: inline-block;
}
#heroTitleD span.active {
  opacity: 1;
  transform: rotateY(0);
  color: $primary-color-accent;
}

.hero-post {
  display: block;
  margin: 2em 0;
  padding: 1em 0 1em 1em;
  border-left: 2px $primary-color solid;
  font-size: 20px;
}

// nav section
.nav {
  display: none;
}

// About card
.about-card {
  width: 320px;
  height: 400px;
  background-color: $white;
  padding: 1em;
  margin: -0.5em 1em 0;
  border-radius: 20px;
  box-shadow: 0px 10px 13px -7px #000000, 3px -1px 2px -1px rgba(0, 0, 0, 0);

  .image-container {
    height: 100px;
    display: grid;
    place-items: center;
    margin-bottom: 1.5em;
    margin-top: 1em;

    img {
      height: 100px;
      width: 100px;
    }
  }
  .skill-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5em;
    font-size: 1.1em;
  }

  .feature-desc {
    font-size: 15px;
    color: gray;
    letter-spacing: 1px;
  }
}

// Featured Project

.intro {
  height: 50%;
  width: 80%;
  margin-left: 8em;

  h3 {
    font-size: 18px;
    margin-bottom: 0.3em;
    color: rgb(34, 130, 177);
  }

  h2 {
    font-size: 28px;
    margin-bottom: 1em;
    font-weight: bolder;
  }

  p {
    font-size: 16px;
  }
}

// Featured Project Circle

.project-circle {
  position: absolute;
  left: -30px;
  bottom: -40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(239, 219, 95);
}

// About Title

.about-title-box {
  display: grid;
  place-items: center;
  h2 {
    font-size: 28px;
    margin-top: 1em;
    color: $secondary-color-accent;
  }
}

.about-cards-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

li {
  margin: 0.8em 0;
  font-weight: lighter;
  letter-spacing: 2px;
  color: rgb(241, 177, 13);

  label {
    display: inline-block;
    font-size: 12px;
    box-sizing: border-box;
    padding-bottom: 10px;
    position: relative;
    padding-left: 8px;
    cursor: pointer;
  }

  label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 20px;
    background-color: goldenrod;
    transition: 180ms ease-in-out;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    font-size: 16px;
  }

  input[type="radio"]:checked + label::after {
    width: 100px;
  }
}

// Skill Card
.skill-card {
  width: 220px;
  height: 80px;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  background-color: rgb(248, 248, 248);
  border-radius: 20px;
  transition: 100ms ease-in;
  border: 1px solid rgba($color: $gray, $alpha: 0.8);

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &:hover .skill-icon-box {
    box-shadow: 0px 10px 13px -7px #000000, 3px -1px 2px -1px rgba(0, 0, 0, 0);
  }

  .skill-icon-box {
    height: 50px;
    width: 50px;
    justify-self: center;
    padding: 5px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    // background-color: rgb(167, 167, 167);
    transition: box-shadow 200ms ease-in 100ms;

    img {
      height: 30px;
      width: 30px;
    }
  }
  span {
    padding-left: 5px;
  }
}

// meto
.about-me-side {
  p {
    color: gray;
  }
}

// Project desc card

.project-desc {
  color: $white-accent;
  width: 400px;
  height: 300px;
  position: absolute;
  border-radius: 20px;
  background-color: rgb(22, 22, 22);
  padding: 1em 1.5em;

  h2 {
    font-size: 28px;
    margin-bottom: 0.5em;
    font-weight: bolder;
    text-align: center;
  }

  p {
    font-size: 16px;
  }
  .project-list {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    margin-top: 0.5em;

    .radio-box {
      width: 1em;
      height: 1em;
      display: grid;
      place-items: center;
      margin: 0 0.5em;

      .radio {
        display: grid;
        place-items: center;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        border: 0.1em solid $primary-color;
        position: relative;
      }

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      input + .radio::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0.5em;
        height: 0.5em;
        box-shadow: inset 0.5em 0.5em $primary-color;
        border-radius: 50%;
        transition: 180ms transform ease-in-out;
        transform: scale(0) translate(-50%, -50%);
      }

      input:checked + .radio::before {
        transform: scale(1) translate(-50%, -50%);
      }
    }
  }
}

// Text Animation
.animated-text {
  position: relative;
  display: block;
}

.animated-text::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: $website-desc-black;
  transition: width 200ms ease-out;
}

.animated-text.active::before {
  width: 100%;
}

.websites {
  .image-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: black;
    z-index: 0;
    transition: height 200ms ease-out;
  }

  .image-content.active::before {
    height: 100%;
  }
}

// app section

.project-app-desc {
  h2 {
    font-size: 28px;
    margin-bottom: 0.5em;
    font-weight: bolder;
    text-align: center;
  }

  p {
    font-size: 16px;
  }
}

.app-handler {
  display: grid;
  place-items: center;
  margin: 0 8px;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  vertical-align: center;
  border-radius: 50%;
  border: 1px solid rgb(255, 99, 70);
  transition: background-color 200ms ease-in;
  cursor: pointer;

  span {
    font-size: 0.8em;
    line-height: 1em;
    transition: color 100ms ease-in;
  }
}

#order.active,
#dishDetail.active,
#orderDetail.active,
#preplist.active {
  background-color: rgb(255, 99, 70);

  span {
    color: $white;
  }
}

// footer section
.footer {
  margin: 0 auto;

  display: grid;
  z-index: 1;

  .action-container {
    display: grid;
    place-items: center;
    position: relative;

    h2 {
      font-size: 20px;

      span {
        color: $primary-color;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .contact {
    background-color: $secondary-color-accent;
    position: relative;
    z-index: 1;

    .footer-logo {
      position: absolute;
      width: 250px;
      height: 257px;
      right: 10px;
      bottom: 0;
    }

    .footer-logo-small {
      position: absolute;
      width: 120px;
      height: 120px;
      left: 50%;
      top: -60px;
      transform: translate(-50%, 0) rotate(180deg);
    }

    .contact-container {
      max-width: 800px;
      display: grid;
      grid-template-areas: "logo social" "contact .";
      z-index: 2;

      span {
        display: block;
        font-size: 1.2em;
        align-self: center;
        grid-area: logo;
      }

      .social-media {
        grid-area: social;
        list-style: none;
        justify-self: flex-end;
        z-index: 2;

        li {
          list-style: none;
          display: inline-block;
          a {
            margin: 0 0.5em;
            text-decoration: none;

            i {
              font-size: 25px;
              color: $footer-blue;
            }
          }
        }
      }

      address {
        grid-area: contact;
        span {
          display: block;
          font-size: 18px;
          font-weight: bold;
          margin: 1em 0;

          a {
            font-size: 18px;
            text-decoration: none;
            color: black;
            font-weight: normal;
            color: $footer-blue;
          }
        }
      }
    }

    .footer-menu {
      z-index: 2;
      ul {
        display: flex;
        flex-direction: row;
        li {
          list-style: none;
          margin-right: 1em;
          padding-bottom: 5px;
          box-sizing: border-box;
          transition: border 150ms;

          a {
            text-decoration: none;
            color: $footer-blue;
          }
        }
        li:hover {
          border-bottom: 2px solid $footer-blue;
        }
      }
    }
  }
}

// SVG
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

svg .rect {
  fill: none;
}

@media only screen and (min-width: 1295px) {
  body {
    .hero {
      position: relative;
      background-color: $white;
      width: 100%;
      height: 100vh;

      .hero-content {
        position: absolute;
        top: 30%;
        left: 17%;
        transform: translate(-30%, -17%);
        height: 50%;
        width: 600px;
      }
    }

    .feature-project {
      width: 100%;
      height: 83vh;
      background-color: $white;
      position: relative;
      overflow: hidden;

      .container {
        width: 100%;
        height: 73vh;
        background-color: $white-accent;
        display: grid;
        grid-template-columns: 40% 60%;
        justify-items: center;
        align-items: center;

        .image {
          height: 100%;
          width: 100%;
          position: relative;
          overflow: hidden;
          z-index: 1;

          .image-box {
            position: absolute;
            height: calc(160px * 2.8);
            width: calc(288px * 2.8);
            top: 140px;
            right: -90px;
            background-image: url("../images/homezone.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 20px;
          }

          .image-box::after {
            content: "";
            position: absolute;
            height: calc(160px * 2.8);
            width: calc(288px * 2.8);
            top: -20px;
            left: -20px;
            background-color: rgb(154, 176, 176);
            border-radius: 20px;
            z-index: -2;
          }
        }
      }
    }

    .about {
      width: 100%;
      height: 75vh;
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      max-width: 1440px;
      position: relative;

      .about-container {
        display: grid;
        grid-template-rows: 15% 85%;
        width: 100%;
        height: 100%;
      }

      .skills-box {
        width: 1000px;
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        place-items: center;
      }

      .about-me-box {
        width: 1000px;
        height: 450px;
        display: grid;
        grid-template-columns: 0.8fr 1fr;
        align-items: center;
        padding: 0.5em;

        .about-me-content {
          h2 {
            font-size: 24px;
            margin-bottom: 1em;
          }

          p {
            font-size: 15px;
            color: rgb(44, 44, 44);
            margin-bottom: 0.8em;
          }
        }

        .about-me-side {
          margin-left: 4em;
          font-weight: lighter;
          .meto {
            font-size: 40px;
            margin-bottom: 1em;
          }
        }
      }

      .about-section-list {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        list-style: none;
      }
    }

    .footer {
      max-width: 1440px;
      height: 65vh;
      margin: 0 auto;

      display: grid;
      grid-template-rows: 25vh 40vh;

      .contact {
        background-color: $secondary-color-accent;
        padding: 4em 4em 0;
      }
    }
  }
}

// .projects {
//       max-width: 1440px;
//       background-color: black;
//       margin: 0 auto;
//       overflow: hidden;

//       .websites {
//         height: 800px;
//         position: relative;
//         overflow: hidden;

//         .image-laptop {
//           position: absolute;
//           right: 0;
//           top: 0;
//           width: 800px;
//           height: 800px;
//         }

//         .image-content {
//           position: absolute;
//           right: 0;
//           top: 0;
//           width: 800px;
//           height: 800px;
//         }

//         .project-desc {
//           max-width: 400px;
//           height: 300px;
//           top: 200px;
//           left: 80px;
//         }
//       }

//       .app {
//         background-color: $white;
//         height: 800px;
//         position: relative;
//         overflow: hidden;

//         .image-phone {
//           position: absolute;
//           left: 0;
//           top: 0;
//           width: 800px;
//           height: 800px;
//         }

//         .project-app-desc {
//           color: black;
//           box-shadow: -15px 15px 5px $white-accent;
//           max-width: 400px;
//           height: 500px;
//           position: absolute;
//           top: 150px;
//           right: 180px;
//           border-radius: 20px;
//           background-color: rgb(248, 248, 248);
//           padding: 1em 1.5em;
//           h2 {
//             font-size: 28px;
//             margin-bottom: 0.5em;
//             font-weight: bolder;
//             text-align: center;
//           }

//           p {
//             font-size: 16px;
//           }
//         }
//       }
//     }
