$primary-color: rgba(34, 130, 177, 1);
$primary-color-accent: rgba(27, 109, 149, 1);
$secondary-color: rgba(42, 187, 187, 1);
$secondary-color-accent: rgba(25, 154, 154, 1);
$white: #ffffff;
$white-accent: rgb(242, 242, 242);
$gray: rgb(236, 236, 236);
$footer-blue: rgb(6, 59, 85);

@mixin card {
  background-color: $white;
  border-radius: 20px;
  padding: 1.5em 1em;
  box-shadow: 0px 10px 13px -7px #000000, 3px -1px 2px -1px rgba(0, 0, 0, 0);
}

@media only screen and (min-width: 784px) and (max-width: 1294px) {
  body {
    .hero {
      position: relative;
      height: 100vh;

      .hero-content {
        min-width: 550px;

        position: absolute;
        top: 40%;
        left: 20%;
        transform: translate(-20%, -40%);

        // @include card;

        h1 {
          font-size: 2em;
        }

        .hero-post {
          margin: 1em 0;
          font-size: 0.9em;
        }
      }
    }

    .feature-project {
      width: 100%;
      height: 105vh;

      position: relative;
      overflow: hidden;
      z-index: 1;

      .container {
        width: 100%;
        height: 83vh;
        background-color: $white-accent;
        display: grid;
        grid-template-rows: 50% 50%;

        .image {
          height: 100%;
          width: 100%;
          position: relative;
          overflow: hidden;
          z-index: 1;

          .image-box {
            height: calc(160px * 2.7);
            width: calc(288px * 2.7);
            background-image: url("../images/homezone.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 20px;
            margin: 0 auto;
          }
        }

        .intro {
          margin: 0;
          grid-row: 2 / span 1;
          width: 80%;
          height: 90%;
          margin: 0 auto;
          align-self: center;
          z-index: 2;
          @include card;
          padding: 0.7em;

          h2 {
            margin-bottom: 0.5em;
            font-size: 30px;
          }

          h3 {
            font-size: 22px;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }

    .about {
      //   width: 100%;
      height: 75vh;
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      width: 100%;
      position: relative;
      overflow-x: scroll;
      overflow-y: hidden;

      .about-container {
        display: grid;
        grid-template-rows: 10vh 5vh calc(75vh - 15vh);
        width: 100%;
        height: 100%;
      }

      .about-cards-box {
        overflow-x: scroll;

        .about-card {
          width: 300px;
        }
      }

      .skills-box {
        width: 900px;
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        place-items: center;

        .skill-card {
          width: 200px;
          margin: 0.5em 0;
        }
      }

      .about-me-box {
        width: 580px;
        height: 450px;
        display: grid;
        grid-template-rows: 0.8fr 1fr;
        align-items: center;
        padding: 1em;

        .about-me-content {
          width: 90%;
          grid-row: 2 / span 1;
          margin-top: 0.5em;
          h2 {
            font-size: 20px;
            margin-bottom: 1em;
          }

          p {
            font-size: 16px;
            color: rgb(44, 44, 44);
            margin-bottom: 0.8em;
          }
        }

        .about-me-side {
          font-weight: lighter;
          .meto {
            font-size: 28px;
            margin-bottom: 0.5em;
          }
          p {
            color: gray;
          }
        }
      }

      .about-section-list {
        grid-row: 2 / span 1;
        display: block;
        margin: 0 auto;
        list-style: none;
        display: flex;
        flex-direction: row;

        li {
          padding: 0 1em;
        }
      }
    }

    .footer {
      max-width: 1440px;
      height: 65vh;
      margin: 0 auto;

      display: grid;
      grid-template-rows: 25vh 40vh;

      .contact {
        background-color: $secondary-color-accent;
        padding: 4em 4em 0;
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1294px) {
  body {
    .feature-project {
      .container {
        .intro {
          width: 787px;
        }
      }
    }

    .about {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 784px) and (max-width: 1024px) {
  body {
    .projects {
      width: 100%;
      overflow: hidden;

      background-color: black;

      .websites {
        height: 100vh;
        position: relative;
        z-index: 1;

        .image {
          width: 680px;
          height: 680px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);

          img {
            width: 100%;
            height: 100%;
          }

          .image-laptop {
            z-index: 3;
          }

          .image-content {
            z-index: 2;
          }
        }

        .project-desc {
          bottom: 5px;
          left: 50%;
          transform: translate(-50%, 0);
          width: 500px;
          height: 250px;
        }
      }
    }
  }
}

@media only screen and (min-width: 784px) {
  .app {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    height: 100vh;
    position: relative;
    overflow: hidden;

    .image {
      position: absolute;
      top: 50%;
      left: -5%;
      transform: translate(0, -50%);
      width: 600px;
      height: 600px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .app-section-list {
      position: absolute;
      top: calc(53% + 450px / 2);
      right: calc(15% + 120px / 2);
      transform: translate(0, 0);
      display: flex;
    }

    .project-app-desc {
      color: black;
      @include card;
      max-width: 300px;
      height: 450px;
      position: absolute;
      top: 53%;
      right: 15%;
      transform: translate(0, -53%);
      border-radius: 20px;
      background-color: rgb(248, 248, 248);
      padding: 1em 1.5em;
      h2 {
        font-size: 28px;
        margin-bottom: 0.5em;
        font-weight: bolder;
        text-align: center;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  body {
    .projects {
      max-width: 1440px;
      background-color: black;
      margin: 0 auto;
      overflow: hidden;

      .websites {
        height: 800px;
        position: relative;
        overflow: hidden;

        .image-laptop {
          position: absolute;
          right: 0;
          top: 0;
          width: 800px;
          height: 800px;
        }

        .image-content {
          position: absolute;
          right: 0;
          top: 0;
          width: 800px;
          height: 800px;
        }

        .project-desc {
          max-width: 400px;
          height: 300px;
          top: 200px;
          left: 80px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1180px) {
  body {
    .projects {
      .app {
        .image {
          left: 0;
          width: 800px;
          height: 800px;
        }

        .project-app-desc {
          color: black;
          @include card;
          max-width: 350px;
          height: 500px;
          position: absolute;
          top: 53%;
          right: 15%;
          transform: translate(0, -53%);
          border-radius: 20px;
          background-color: rgb(248, 248, 248);
          padding: 1em 1.5em;
        }

        .app-section-list {
          position: absolute;
          top: calc(53% + 500px / 2);
          right: calc(15% + 160px / 2);
          transform: translate(0, 0);
          display: flex;
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: $white-accent;
  }
}
